[2019-10-01 22:30] philsturgeon opened #16 "Category Pages"
Somehow use gatsby-source-filesystem to read category files from src/categories/foo.md and use fromtmatter instead of YAML files. Slug should just be the filename.

This should then let us somehow createPages for everyone category file, and then read the appropriate YAML pages with some GraphQL query instead of directly loading it in.

[2019-10-01 22:33] philsturgeon opened #17 "Replace “icons” with “availability”"
Folks can shove emojis in the description if they want but all of the country/globe stuff should be replaced with two-character country code array, or “global” for anywhere.

We can pick the emojis from that on display, and this also gives us the ability to filter by availability in the future.

[2019-10-01 22:34] philsturgeon opened #18 "Search for good ideas"
Be able to search through all contents regardless of category, and have a “availability” filter (see #17).

[2019-10-01 22:35] philsturgeon opened #19 "New category: politics"
See which political movements nearby can help. US voting for the jones act repeal would help stop ships and trucks doing so much pointless logistics. Stuff like that.

[2019-10-02 01:09] eostrom commented on #17
Happy Hacktober! Would you welcome a PR for this? I have some time to work on it tomorrow.

[2019-10-02 02:05] philsturgeon commented on #17
Yes please! The gatsby site is in there, gunfire the README I’ll be trimming that down to just some examples. Can you have a go at establishing which links are which countries and get flags displayed for them? If it’s too time consuming just focus on the mechanics and I’ll finish the research part. 🙌🏻

[2019-10-02 02:14] eostrom commented on #17
I got eager and I'm mostly done already. PR coming soon!

[2019-10-02 03:05] #17 closed

[2019-10-02 03:10] philsturgeon opened #21 "Carosel on the homepage"
Every week or month or whenever we can change some images for large recommended projects, to push folks towards particular things.

[2019-10-03 17:35] akashbhandwalkar commented on #19
I will try to work on this issue.

[2019-10-04 07:45] iam-Shashank opened #30 "Changing Reforestation category OR Add a new one for Agriculture/Food"
Some thoughts regarding categories.
Apart from Reforestation, many companies in the field of Agriculture/Food are also doing great work. 2 possible options: Add these two categories to Reforestation or make a new category so that  special emphasis on Reforestation stays put. Also, many projects involving forests might involve activities different from reforestation so one possible option is to cha

[2019-10-04 07:53] philsturgeon commented on #30
We’re about to swap from the readme being the source of truth to using the gatsby site which powers http://awesom.earth. If you put this content in links.yaml and categories.yaml then it can have multiple categories. I’d like to keep reforestation and sure let’s add agriculture too. Thank you for your contributions on this!

--
Phil Sturgeon
@philsturgeon

[2019-10-04 08:53] iam-Shashank commented on #30
Yes, keeping reforestation makes sense.  Sorry, yaml files are alien to me, have no experience with them. Not a web dev. In the coming days, if I do learn about them, I'll make sure to do what you suggested.

[2019-10-05 10:43] juancarlosqr commented on #18
Hi, I would like to contribute to your project and work on this issue!

For the search part, I don't know if you have something in mind but I did already a small research and I think fusejs.io is a good option. Let me know what do you think about it. Regarding the availability feature, should be pretty easy.

If everything looks ok, assign the issue to me so I can start to work on it.

Thanks!

[2019-10-05 11:04] juancarlosqr opened #31 "Add rel="noopener noreferrer" to links"
The links should have `rel="noopener noreferrer"` properties for security and better browser support

More about this: https://mathiasbynens.github.io/rel-noopener/

A PR is on the way to fix this!

[2019-10-05 14:41] philsturgeon commented on #18
Awesome! Thank you for contributing! We’re gonna be sorting out a design soon and making a bunch of changes, but for search maybe doing things the gatsby way is best?

I’m a bit of a beginner when it comes to gatsby but this guide seems to have some options: https://www.gatsbyjs.org/docs/adding-search/

[2019-10-05 21:11] MichaelGee commented on #21
Sorry, do u mind explaining the "to push folks towards particular things." part a little. I dont really understand.

[2019-10-06 11:17] #31 closed

[2019-10-06 15:21] #16 closed

[2019-10-06 15:39] philsturgeon commented on #21
Hey @MichaelGee, good question! So the homepage could show off new and interesting things, seasonal things, etc.

Thing of this as "featured" content. In plasticFreeJuly we'd show off zero waste plastic avoiding things, in Winter we show how to insulate and heat your home better, etc.

[2019-10-06 15:41] philsturgeon commented on #30
@iam-Shashank no worries, what sort of dev are you? They're a bit like TOML if you're familiar, and they're a superset of JSON. You can copy and paste code, and use http://www.yamllint.com/ to make sure whatever you're doing is valid. :)

[2019-10-06 15:55] xlcrr commented on #18
openlittermap.com - open data on plastic pollution. Instead of restricting access to data (most apps), anyone can download and use the data.

[2019-10-06 17:13] philsturgeon opened #39 "Category Images"
Lets get some fancy looking images to improve the look of the homepage now we dont have all the links on there.

[2019-10-06 17:15] philsturgeon opened #40 "Tag pages"
Blocked by #40

Some of our categories should probably be tags, and in the future we want more landing pages for tag things.

For now, lets just have a simple page with a list of things that exist for that tag. Copy the categories page entirely, we will differentiate them more later.

https://www.gatsbyjs.org/docs/adding-tags-and-categories-to-blog-posts/

[2019-10-06 17:17] philsturgeon opened #41 "Switch Categories to Markdown Pages"
Recently got the category pages switched over to gatsby-source-filesystem and using GraphQL to load, but we could do with switching them to Markdown pages as the editorial content at the top is getting a bit long.

https://www.gatsbyjs.org/docs/adding-markdown-pages/

[2019-10-06 17:41] HeidiHansen commented on #39
Carbon Reduction
- https://stock.adobe.com/nl/images/carbon-dioxide-emissions-control-concept-3d-rendering-of-co2-cloud-on-fresh-spring-meadow-with-blue-sky-in-background/206053572

Cooking
- http://www.stoveteam.org/images/slides/kitchen1.jpg
- http://www.stoveteam.org/images/slides/ecocina_01.jpg

Community and Education

Green Energy
- https://stock.adobe.com/nl/images/photovoltaics-solar-panel

[2019-10-06 21:01] stephensamra commented on #41
Hey 👋 I can start working on this.

[2019-10-06 23:58] #41 closed

[2019-10-07 00:00] philsturgeon commented on #39
Thanks to the category markdown PR from @stephensamra (#42) we can get these images into category frontmatter with a new `image:` key. I’ll have a go at this in the morning. Comments welcome from folks about which images are best and if anyone gets this code done before me I won’t be awake for 8 hrs. 😅

[2019-10-07 06:57] Seldaek opened #44 "More reforestation projects"
Crowther Lab (who do a lot of climate research and published a few interactie maps) has a page listing a dozen reforestation projects, might be good to copy https://www.crowtherlab.com/get-involved/

[2019-10-07 13:36] StaleSpace commented on #40
I'll work on it
can you guide me a bit what's need to be done?

[2019-10-07 21:15] fridaland commented on #44
Hey there :wave:
Would love to help out here. Are we looking to add the exact list in Crowther Lab?

[2019-10-07 21:40] bagshik commented on #44
Oh I forgot to write a comment here, well the more the merrier :) Yeah, I guess we can search their map / list for missing projects and add them to the repo's `links.yaml`

[2019-10-07 21:44] fridaland commented on #44
All good if you've already started @bagshik. :) I can contribute to another issue!

[2019-10-08 18:24] philsturgeon commented on #40
Basically we’d like to be able to tag links with various concepts that aren’t quite categories, then have a single landing page for them.

It would be very similar to categories in fact. Mostly what’s in the tutorial I linked to, but each tag may or may not have a tag page src/content/tags/Foo.md and the data is in links.yaml with tags: [foo, bar]

Does that make sense?

--
Phil Sturgeon
@philstur

[2019-10-09 17:01] #21 closed

[2019-10-09 23:50] philsturgeon commented on #44
@fridaland happy to get some more, I’m focusing my efforts on #39

[2019-10-11 11:46] #39 closed

[2019-10-12 13:31] philsturgeon opened #50 "Redesign"
We'll need a proper redesign as this starter one is being stretched as far as @HeidiHansen and I can get it. Paging @thatleeguy! 😎

## Home

![Home](https://user-images.githubusercontent.com/67381/66702142-98293400-ed04-11e9-98bd-231437167f76.png)

The homepage, not too far off from what we got now but better grid, hopefully some sort of logo and hero situation, top nav and a newsletter signup box

[2019-10-12 13:35] philsturgeon opened #51 "SEO, Metadata, OpenGraph Images, etc"
We need to get [gatsby-plugin-react-helmet](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-react-helmet) involved so that we can add title, metadata, maybe it can help us reuse category images for the social shares and og stuff. I dont know what im talking about I think those are words.

[code]

More information over here: https://github.com/gatsbyjs/gatsby/tree/master/packa

[2019-10-12 13:35] philsturgeon commented on #51
@stephensamra if you've got the time for another one this would be a big help!

[2019-10-13 17:28] ElRaymond0 commented on #50
I can take a crack at this if you want? Do you have anything specific for colours or would you like to keep the same colours as the current design?

Within the category page will there be a maximum/minimum of three featured links with images?

[2019-10-13 18:19] stephensamra commented on #51
@philsturgeon sure thing!

[2019-10-13 18:21] philsturgeon commented on #50
Thank you @ElRaymond0, but @thatleeguy mentioned he would do this and might already be working on something. Could you maybe help us get the HTML and Gatsby done for the links page? Then Lee will only have to tackle the visual aspects.

[2019-10-13 18:30] philsturgeon commented on #30
Do you have some ideas for links in this new agriculture/food category?

[2019-10-13 18:47] philsturgeon commented on #40
@StaleSpace hey, still fancy taking a swing at this? @stephensamra has also offered his services. :)

[2019-10-13 19:45] ElRaymond0 commented on #50
@philsturgeon Sure no worries! If @thatleeguy is taking a look that's not a problem, if you need some help with the Gatsby/html I could give that a go or jump on another issue

[2019-10-13 19:50] philsturgeon opened #52 "Shared layout"
Add a layout which wraps both index and category pages, with a simple top nav and a github ribbon:

[code]

[2019-10-14 18:41] UPstartDeveloper commented on #19
I will be happy to help as well!

[2019-10-14 19:11] UPstartDeveloper commented on #19
The Climate Strike Coalition is the organization responsible for organizing the youth-led global protests in NYC last month. Here is the link to their political platform, not sure if they fit in with this project entirely but there may be some overlap of interests: https://strikewithus.org/#demands

[2019-10-14 22:05] UPstartDeveloper commented on #52
May I please help with this?

[2019-10-15 08:43] mats-codes commented on #40
Is there any further help required regarding this issue?

[2019-10-15 20:47] philsturgeon commented on #40
@mats-codes this is tricky, @StaleSpace offered to work on it 8 days ago and id be fine waiting much longer for this to be done (I appreciate any help I get however long it takes) but it also seems like there is a lot of interest from other people in getting it done sooner.

First PR wins? I'll donate 100 trees for each person who makes a PR whichever one ends up getting merged. @mats-codes think

[2019-10-22 20:07] philsturgeon commented on #51
@stephensamra thanks for doing this, can you confirm if this is working on twitter? its not working for me but maybe the URLs are cached.

[2019-10-22 21:22] stephensamra commented on #51
@philsturgeon I was using the [Twitter Card Validator](https://cards-dev.twitter.com/validator) to test it out and it seemed ok. It does seem to be taking the title and description from the meta tags and rendering them on the Twitter Card. There are no images set in the code yet so no image is appearing on the card right now.

Trying to post a screenshot here but I think GitHub is having issues up

[2019-10-23 01:13] philsturgeon commented on #51
Thank you! Could you get the category images showing up when people tweet category pages? More images = more engagement. I tweeted a link and it was just the link, didn’t even show the description and a grey box, you know?

[2019-10-23 01:14] philsturgeon commented on #30
Let me know if you think up a thing!

[2019-10-23 01:14] #30 closed

[2019-10-23 06:45] stephensamra commented on #51
@philsturgeon yep, no problem. I'll use a real Twitter account this time to make sure it's showing correctly 👍

[2019-10-23 15:37] iam-Shashank commented on #30
Hey, really sorry for the late response. Was busy with a few hackathons, college stuff( end of Semester rush, you know). I am a Machine Learning practitioner/learner, so not into web stuff. Regarding more ideas related to Agri, luckily, this AskHN was trending today (I haven't read it yet, decided to post it here, as soon as I found it.) [Link](https://news.ycombinator.com/item?id=21325138)

[2019-10-26 20:33] philsturgeon commented on #44
Great I got a few of these! If anyone still wants to help theres plenty more issues to be tackled! :D

[2019-10-26 20:33] #44 closed

[2019-10-26 22:19] #19 closed

[2019-10-26 22:19] #51 closed

[2019-10-26 22:22] philsturgeon commented on #52
@UPstartDeveloper please! Do you think you could do it in the next few days?

[2019-10-26 23:44] philsturgeon opened #61 "Favicon"
Let's swap the default gatsby favicon for something more worldly.

https://emojipedia.org/earth-globe-europe-africa/

[2019-10-27 00:58] UPstartDeveloper commented on #52
I'll get started right now on the nav. I'll try to use Bootstrap for the website, since I just learned about the CSS framework this past few days at my college, Make School.

[2019-10-27 03:38] UPstartDeveloper commented on #52
My sincerest apologies, this will take longer than I thought. I am unsure of how to combine my bootstrap knowledge with the current project setup currently to use React.

[2019-10-27 10:32] dashuber commented on #61
Hi Phil, see #62. Does it look good to you?

[2019-10-27 16:20] #61 closed

[2019-10-28 22:21] philsturgeon opened #64 "Social Media Share Links"
Make it easy to share stuff on social media.

1. Obvious social media icons on the top of the page to share the whole category
2. Share icon next to each one which prepopulates a tweet/post like “we found foo.com on Aweson.Earth!” or something like that

Don’t use tracker-injecting crap let’s keep it simple with icons and links.

[2019-11-02 09:06] philsturgeon opened #68 "Category: Documentaries"
- Gas Land I & II
- Coconut Revolution
- Chasing Coral
- Tapped
- Flow: For the Love of Water
- Chasing Glaciers
- More than Honey
- Virunga

Watch first
- An Inconvenient Truth
- Our Planet
- Before the Flood
- Blue
- Garbage Warrior

[2019-11-02 16:15] philsturgeon opened #69 "Submissions Form"
Let people suggest their own links via a Netlify form.

https://www.netlify.com/products/forms/

[2019-11-03 14:54] philsturgeon commented on #68
Done!

[2019-11-03 14:54] #68 closed

[2019-11-03 19:37] ElRaymond0 commented on #52
Hi @UPstartDeveloper one way of approaching this would be to look at creating a specific component which acts as a layout template. It simply dynamically wraps the component allowing for the layout to be reused. I could submit a PR for this issue if you wanted to take a look at this approach?

[2019-11-04 00:02] UPstartDeveloper commented on #52
Thanks for the suggestion @ElRaymond0 ! Feel free to submit a PR. So far, I have been trying to figure out a way to use ReactStrap for the component, sorry for my lack of progress thus far.

[2019-11-05 10:44] philsturgeon opened #71 "Select Your Country"
Let's take inspiration from this Spotify page, and have a select your country page.

https://www.spotify.com/nl/select-your-country/

When you pick your country it will show up in our awesome new shared layout, maybe in a really simple footer. Again, just like spotify:

<img width="283" alt="image" src="https://user-images.githubusercontent.com/67381/68201146-7e0c0a00-ffc1-11e9-8114-16e2ea718ff1.p

[2019-11-05 10:44] philsturgeon commented on #71
@stephensamra hey if you're up for a bigger one, I think this could be right up your alley. This will help us go international instead of being very UK-US-Dutchkinda.

[2019-11-06 00:22] stephensamra commented on #71
@philsturgeon sounds good! When a country is selected do you want to do anything like show a page that lists everything by the selected country? Or just have it show up in the layout?

[2019-11-12 14:24] philsturgeon commented on #71
@stephensamra agh sorry I missed this. I think it should act like a global filter, and the site should continue to function as it does but limiting the results. We should make this be clear somewhere, so folks dont wonder why there is nothing much around.

[2019-11-12 14:27] stephensamra commented on #71
@philsturgeon no worries at all. Yea I think that sounds cool. Will try get something up this week.

[2019-11-20 21:53] stephensamra commented on #71
@philsturgeon I have a wip of this that you can try out here: https://5dd5b35fe49197000886e70a--condescending-williams-490604.netlify.com/. If you scroll to the footer you should see an option to select a country.

I think the only thing left to do now is to filter the category pages/data by the selected country and maybe add an option to remove the selected country preference. If you have any tho

[2019-11-21 10:37] philsturgeon commented on #71
This is great! Please start off a PR so I can see, but yeah keep on trucking with this and update the category data, thank you.

Btw #50 is almost ready :D

[2019-11-21 23:34] #40 closed

[2019-11-21 23:34] #71 closed

[2019-11-24 15:56] zdroid opened #77 "Missing actual economic issues"
I understood the point of the repository and I support its goal. But it is clearly missing (at least) 2 most important economic issues, which have way more impact on life of majority of the people than any of the mentioned in the list. Those are:
1. economic inequality
2. lack of industry regulation

The first makes all the issues mentioned in the repository more felt by those at the bottom than b

[2019-11-24 19:24] philsturgeon commented on #77
Hey @zdroid, thank you for the suggestions! I understand that environmental and economic issues are heavily linked, and that has not been ignored in this project. The climate crisis is not the only problem in the world, but it is the one this project is focusing on. That does not mean we don't care about economic issues, as I said they are linked. The climate crises [disproportionate impacts to th

[2019-11-24 19:25] #77 closed

[2019-11-24 22:28] zdroid commented on #77
I was checking whether the lack of those two issues is general project's policy or just lack of the needed information on those. It's good to hear it's mostly the second, so I'll consider putting some relevant links for those in the near future.

[2019-11-25 09:40] philsturgeon commented on #77
Please do, so long as they specifically relate to climate action. Thank you!

On Sun, Nov 24, 2019 at 22:28, Zlatan Vasović <notifications@github.com> wrote:

[2019-11-26 23:14] stephensamra commented on #69
Hey 👋 I could take a look at this, I have some experience using Netlify forms. What fields would you like on the form?

[2019-11-27 12:49] philsturgeon commented on #69
Should we just go with URL and checkboxes for the categories? Maybe countries too in case its not english and its tough to figure out how many potential countries the site is relevant to?

Also I'll be in Dublin tomorrow, you around? :D Shoot me a message on me@πhilsturgeon.uk or https://twitter.com/philsturgeon/

[2019-11-27 12:50] #64 closed

[2019-11-27 12:51] philsturgeon opened #80 "Category Descritions in SEO"
Currently the main website description is showing up in the SEO, Twitter cards, etc. but we should try and get a short description for each category (not the giant intro) into each.

[2019-11-27 13:39] stephensamra commented on #69
Grand, will get working on that. Tomorrow suits me fine, I'll email you later today 👍

[2019-11-30 21:32] #52 closed

[2019-11-30 21:40] philsturgeon opened #83 "Country Selector Improvements"
The country selector added in #71 is fantastic but could do with some tweaks.

The goal of the selector is to help hide content not relevant to you, which should mean it only removes things which are tied to specific countries. Let's make sure that people can select County X even if county X does not have any links, because they should still see "global" things (links without any countries).

They

[2019-11-30 21:41] philsturgeon opened #84 "Editor Config"
Let's grab a fairly standard editor config for .js, .jsx and Markdown.

[2019-11-30 22:14] philsturgeon commented on #50
Ok we're off! https://bitbucket.org/thatleeguy/awesom.earth/

This is a great start and will help us out a lot. I started the integration in the [`redesign` branch](https://github.com/philsturgeon/awesome-earth/tree/redesign) but I've hit a few problems.

1. We lost the carosel, which seems like a shame.
2. Category mockups have feature items but i dont think we have that now
3. search takes up a

[2019-12-01 01:39] UPstartDeveloper commented on #52
Hey Philsturgeon/Awesome-Earth,
I’m really sorry for not getting back to you on this. It’s totally my fault
and I know it’s probably too late now, I just want you to know I didn’t
mean to cause you any inconvenience. Hope you will understand that I just
lost track of time.

Sincerely,
Zain Raza

On Sat, Nov 30, 2019 at 1:32 PM Phil Sturgeon <notifications@github.com>
wrote:

[2019-12-01 09:43] philsturgeon commented on #52
Not a problem at all @UPstartDeveloper! Please, this is a free site and eeryone is doing what they can when they can. Things come up and that's fine. This PR got done a little while ago we just forgot to close the ticket, so I'm glad you didn't do the work a second time only to find out it was done already! haha

[2019-12-02 10:28] #84 closed

[2019-12-16 12:25] mbifulco commented on #50
Hey @philsturgeon - redesign sketches look great! I'm pulling down the branch to see if I can submit a PR or two to help it along.

I'm going to put in a vote in support of [removing the carousel](http://shouldiuseacarousel.com/).  They look a lot nicer than they work, unfortunately.

[2019-12-21 12:38] philsturgeon commented on #50
Merged #93! It's not perfect but it's much better than what we had. All improvements welcome, and there is still lots to do with search #18 and improving country filters #83.

[2019-12-21 12:38] #50 closed

[2019-12-23 08:32] cebe opened #95 "Front page images are very large"
I just noticed that on the frontpage, the category images are way too big.

![Bildschirmfoto von »2019-12-23 09-29-30«](https://user-images.githubusercontent.com/189796/71345875-c75eeb80-2566-11ea-820a-26f40ae7fa82.png)

All of these are a lot bigger than they should be (pixel and byte size):

![Bildschirmfoto von »2019-12-23 09-30-25«](https://user-images.githubusercontent.com/189796/71345953-01c

[2019-12-23 11:01] philsturgeon commented on #95
Damn, there was a bit of magic doing auto-resizing but I guess that fell away in the redesign.

@stephensamra can you tackle this one after Christmas? :D

[2019-12-24 12:54] philsturgeon opened #97 "Images for Featured Links"
The new design has featured "cards" for ones we'd like to make more visible, but we could also consider adding images to them. Maybe using Twitter/React Bootstrap "Cards", or maybe some other way.

<img width="768" alt="image" src="https://user-images.githubusercontent.com/67381/71413932-66a9de80-264c-11ea-9ca6-98ebe6757387.png">

Should look ok with an without images.

[2019-12-28 23:33] stephensamra commented on #80
This is what's currently showing when a category is shared (it's the category description). Do you want to have something shorter? We could add something to the YAML front-matter unless you have a better idea?

![image](https://user-images.githubusercontent.com/8583469/71550514-3eaed800-29ca-11ea-95ee-a75a3dd2e3a2.png)

[2019-12-29 13:33] #95 closed

[2019-12-29 13:35] philsturgeon commented on #80
This is ok for now, but yeah we could get a shorter description in there and show it on the homepage too I think?

[2020-01-01 21:55] philsturgeon opened #106 "Add Clothing Category"
Sustainable Living is full of clothes, and we've got more to add.

Also Tentree.com has loads of sustainable clothing, especially TENCEL/lyocell which [is awesome](https://www.saintbasics.com/en/blogs/blog/the-real-thing/). Mention both of that.

It would be helpful to have an intro that explains different kinds of natural materials, including modal, rayon, bamboo, hemp, cotton, wool, silk, linen,

[2020-01-01 22:10] philsturgeon opened #107 "Investing / Finance"
https://www.rescoop.eu/  - they would be a  good resource for the projects that people who don't live in the community can invest in- so usually there is a hierarchy where if you own property in the community you have a right of first refusal to invest in the RE project.  then the circle widens if there is still space for investments-  obviously these are long term investments and every area opera

[2020-01-03 01:57] #80 closed

[2020-01-05 21:08] philsturgeon opened #109 "Report Greenwashing"
We need to figure out an approach for people to report greenwashing. It could be a link to a form, or an email us link, or whatever.

We’ve done a fair amount of research on every link that we’ve added, or we wouldn’t have added it, but if we made a mistake (or a company changes course) we need to know that a link should be removed ASAP.

[2020-01-07 13:46] cheralathann opened #110 "Header dropdown menu repeat twice"
Home owner link repeat twice on the dropdown header menu

<img width="382" alt="Screenshot 2020-01-07 at 7 04 50 PM" src="https://user-images.githubusercontent.com/15264559/71899539-f76ed700-3181-11ea-8ab2-32fe41c4a452.png">

Change the title to Land owner on Header.jsx

[2020-01-07 13:51] #110 closed

[2020-01-07 13:51] philsturgeon commented on #110
Thank you, done!

[2020-01-09 19:42] philsturgeon commented on #107
https://www.triodos.co.uk/individual - ethical investments for individuals

[2020-01-09 19:48] philsturgeon commented on #107
https://cleantechnica.com/2019/08/17/how-to-start-with-sustainable-investing/
https://cleantechnica.com/2019/10/12/climate-action-your-portfolio-a-conversation-about-esg-investment-greenwashing-with-etho-capital/

[2020-01-10 19:07] #69 closed

[2020-01-14 12:49] rapzo commented on #97
#117 o/

[2020-01-15 10:21] philsturgeon opened #118 "Recent Links"
I've been throwing new links in at the bottom, which means we can do a "recent links" just by popping a few off the end. Let's get this up on the homepage somehow.

[2020-01-15 19:06] mbifulco opened #123 "Rename "Volunteering" category?"
Not everything on the [volunteering](https://protect.earth/volunteering/) page is volunteering.  We should consider a different nomenclature for this page.  Maybe "Action" or "engagement", or "get involved"?

[2020-01-15 19:14] philsturgeon commented on #123
Yep was thinking this once petitions and jobs went up. Everything on the site is "action" but "Participate" perhaps. Engagement is definitely a good one.

[2020-01-15 19:32] mbifulco opened #124 "Tweet new links as they're accepted"
It would be great to use twitter to announce new links posted to the site.

We could use a cloud function triggered by a GitHook or a webhook from Netlify/CI, and tweet a link to the page containing the new link.

[2020-01-19 16:03] zdroid opened #125 "General category"
Some pages such as https://ourworldindata.org/ would fit all the categories. How are they supposed to be categorized? Perhaps a new, General category could serve this purpose.

[2020-01-23 19:52] jmcdona1d commented on #106
Would love to work on this for you. Can you please assign it to me if nobody else is currently working on it?

[2020-01-23 19:53] HeidiHansen commented on #106
I assigned it to you.  Thanks James! =)

[2020-01-23 19:56] philsturgeon commented on #106
@jmcdona1d thanks for volunteering! Get it done in 48 hours and I've got 100 trees and 3 tonnes to go in your offset earth account, or I'll throw it in mine in your name. offset.earth/philsturgeon

[2020-01-23 23:23] mbifulco commented on #106
🙌  I'll double down on that - another 100 trees and 3 tonnes if it's done in 48 hours.

This is good timing for me, too. I've been on the hunt for new socks... these guys look like they'd make a good addition to the category: https://www.arvingoods.com/

[2020-01-25 14:51] mbifulco commented on #106
@jmcdona1d give a shout if you need any help figuring this stuff out - I did a major update to the site recently, so this stuff is still fresh.

[2020-01-25 15:37] mbifulco commented on #125
This is a good idea - we're quickly running into taxonomical challenges like this.  It's a good problem to have, but we should come up with a solution for it!

[2020-01-25 15:38] mbifulco commented on #125
This might mesh well with #123, too

[2020-01-25 17:33] zdroid commented on #125
That sounds good. Wouldn't a category of "Miscellaneous", "Other" or "General" solve both problems?

[2020-01-25 17:51] jmcdona1d commented on #106
@mbifulco Thanks, I think I should be good though - just finishing up and adding some more links

[2020-01-26 10:05] philsturgeon commented on #125
I've been trying to avoid a "Misc" category. We already kinda have a "catch all" which is sustainable living, and that's why we're slicing #106 out of there and trying to make things more correct.

Things generally go in the closest category until we have enough to realize a new category. Then we have tags for grouping way more specific things or we'd have 10000 categories :D

I think Carbon Reduc

[2020-01-26 12:27] zdroid commented on #125
That works, too. But then the question is, where would sites like the one above go?

[2020-01-26 18:43] philsturgeon commented on #125
Wis this research? Do we start a research category, or are there already sites that cover that? Right now we aim at genera humans, consumers, business owners, local authorities, and soon finance people, etc. I dunno if we have much to tell scientists? I think they already know what’s up?

On Sun, Jan 26, 2020 at 12:27, Zlatan Vasović <notifications@github.com> wrote:

[2020-01-26 18:44] zdroid commented on #125
This is the research data that should lead everyone into informed conclusions. :p

[2020-01-26 18:51] philsturgeon commented on #125
Research isn’t for everyone but article summarising are. I looked again and this site does have that, so good, but there’s a lot of not-climate stuff on here. The first link looks relevant https://ourworldindata.org/food-choice-vs-eating-local but there’s loads of stuff about loneliness and aids and all sorts of other stuff.

Maybe we could use that first link in a new Food category?

[2020-01-26 18:56] zdroid commented on #125
Yes, that'd be good.

[2020-01-26 21:27] philsturgeon opened #128 "Fix link ordering"
We accidentally broke the default sort for links.

<img width="782" alt="image" src="https://user-images.githubusercontent.com/67381/73142079-a8320d00-4082-11ea-9fb1-55807096905d.png">

[2020-01-26 21:31] philsturgeon opened #129 "First Three Featured"
There should only ever be 3 featured links in a category, because multiple look broken. I have tried to keep just three in there by removing `featured: true` when I see too many, but this will not always be possible

Sometimes a link can be featured in two categories meaning it might be the third link for one category and the fourth for another.

It would be great if we just grabbed the most recen

[2020-01-26 21:48] philsturgeon commented on #107
https://www.bloomberg.com/features/2020-green-billionaires/?srnd=green

[2020-01-26 22:24] philsturgeon commented on #107
https://www.bloomberg.com/opinion/articles/2020-01-20/blackrock-climate-policy-can-do-more-to-reduce-coal-use-in-asia?srnd=green

https://www.axa.com/en/spotlight/story/emergency-exit-committing-to-coal-phase-out

[2020-01-26 22:26] philsturgeon commented on #124
I'm fine tweeting stuff out myself, I've got a buffer and it takes seconds. I don't want any time sucked out of other things which could have a bigger impact.

[2020-01-26 22:26] #124 closed

[2020-01-26 22:26] #125 closed

[2020-01-26 22:28] philsturgeon opened #130 "Food category"
Mealworms, good for people and pet food (they're starting to use it for chickens too)
https://www.bbc.com/news/science-environment-49450935

http://www.foodwaste.ie/

[2020-01-26 22:47] philsturgeon commented on #130
https://newint.org/features/2019/10/04/what-ifthe-world-turned-vegan

[2020-01-26 22:48] philsturgeon commented on #130
https://www.abelandcole.co.uk
https://fedteam.co.uk/

[2020-01-27 02:21] #128 closed

[2020-01-27 10:12] #106 closed

[2020-01-27 12:49] mbifulco opened #132 "SEO work"
We should update `siteMetadata.description` in `gatsby-config.js` to better describe what the site is for.  This will help bolster our search engine results, and will give us better results when the site is shared on twitter/facebook:

This is a facebook share for the home page, which leaves a lot to be desired, currently:
![image](https://user-images.githubusercontent.com/1844496/73176002-726c430

[2020-01-27 12:51] mbifulco commented on #109
@philsturgeon I find lots of the greenwashing discussion to be really helpful, too.  It might be good to add some article pages / short form blog posts to the site to talk about specific instances of greenwashing.

[2020-01-27 19:46] philsturgeon commented on #107
Daaamn https://www.bloomberg.com/news/articles/2020-01-22/the-world-s-most-profitable-hedge-fund-is-now-a-climate-radical

[2020-01-27 21:43] ijpatricio commented on #118
![screencapture-localhost-8000-2020-01-27-21_40_07](https://user-images.githubusercontent.com/26031459/73216472-f4964f00-414d-11ea-8ff5-0b566318b7b3.png)

[2020-01-29 09:40] philsturgeon commented on #118
@ijpatricio ahh just noticed this isn't _quite_ right. Its showing the last 5 but in the wrong order:

<img width="943" alt="image" src="https://user-images.githubusercontent.com/67381/73345035-3cff5b00-427b-11ea-81a1-98d0d06fb5e2.png">

I just added seat61 but its at the bottom :D

Could you add in the tags like you mentioned, and fix that, then use the `Closes #118` syntax in your next pull requ

[2020-01-29 11:02] ijpatricio commented on #118
not getting. enough. sleep. :D :D

ehhe no problem! will do that real soon
also, you mentioned something more...

also, on #133 you mentioned:
[code]

so it will be different issue & PR, right?

[2020-01-29 12:58] philsturgeon commented on #118
we dont need to worry about the paperwork just mush it into one PR if thats ok :D

[2020-01-29 13:09] #132 closed

[2020-01-29 20:32] philsturgeon opened #137 "Jobs category"
https://climate.careers/
https://greenjobs.glideapp.io/
https://jobs.theguardian.com/jobs/climate-change/
https://www.goodwork.ca/
https://greenjobs.com/

[2020-01-29 20:55] philsturgeon commented on #130
People are eating too much https://nypost.com/2019/12/26/global-obesity-epidemic-may-be-contributing-to-climate-change/

[2020-01-31 10:32] #137 closed

[2020-01-31 13:14] philsturgeon commented on #123
Now we have a #138 category this seems less important. Let's focus on some of the other issues and maybe we need a Bouycotts in the future or similar.

[2020-01-31 13:14] #123 closed

[2020-01-31 13:15] philsturgeon opened #139 "awesom.earth redirect"
I have tried 10000 things but I _cannot_ get the redirect for awesom.earth to redirect to protect.earth. please help.

[2020-01-31 15:47] mbifulco commented on #139
What are you using for DNS?

[2020-02-01 16:50] philsturgeon commented on #107
https://www.abundanceinvestment.com/

[2020-02-02 11:19] jonathan-s commented on #107
There is also http://www.trine.com

[2020-02-03 17:10] philsturgeon commented on #107
https://eqinvestors.co.uk/individuals

[2020-02-04 08:40] philsturgeon commented on #107
https://www.climate-kic.org/marketplace/

[2020-02-04 08:43] jonathan-s commented on #107
Tangentially related to investing: https://nori.com/ A carbon removal marketplace. Not yet released.

[2020-02-06 09:44] philsturgeon opened #142 "Footprint Calculators"
By pulling a few existing trackers and calcuators (a few websites and apps) out of the existing and (too vague) Carbon Reduction category, then add some of the other links on here, I think we can make a new Footprint Calculator section.

https://discourse.climateaction.tech/t/carbon-footprint-tracking-tools/46

[2020-02-06 09:44] philsturgeon commented on #139
Namecheap but nameservers are pointing to Netlify.

[2020-02-10 10:42] AdrienFromToulouse opened #145 "[i18n] - Korean translation - ko-kr"
Translate content to Korean.

What content should be prioritised?

[2020-02-10 10:43] AdrienFromToulouse opened #146 "[i18n] - French translation - fr-FR"
Translate content to french.

What content should be prioritised?

[2020-02-13 19:36] michaelsbach opened #147 "links.yaml data"
Hi, all. I am new to open-source and Gatsby (as well as React to a certain extent) so I apologize if this is out of place.

I am curious as to how the data in [data/links.yaml](https://github.com/philsturgeon/awesome-earth/blob/37df27ecfafd8af54fe54c3707a4856b6cc88696/src/data/links.yaml#L9-L28) is able to be used in the [components/RecentLinks](https://github.com/philsturgeon/awesome-earth/blob/3

[2020-02-14 15:42] philsturgeon commented on #146
Should we tie localization to the country flag?

See countries with multiple languages. I don't want to confuse Spain and Spanish. I don't want Spanish speakers in Colombia stuck reading about Spanish projects.

That said, we dont have any Colombian projects or Spanish translations yet so maybe this is a premature concern?

Otherwise, we need a Language selector and a Country selector. The country

[2020-02-22 11:31] AdrienFromToulouse commented on #146
HI, @philsturgeon yep it makes total sense and sorry for late reply. I used to work on similar internationalisation concerns.

May I go a little bit side track? I was thinking that Durpal 8 has now internationalization ready at the core. No need to take care of it like in previous versions.
Would not be "simpler" to refactor with a Drupal and focus on the content?

Question is also: what would be

[2020-02-28 13:12] philsturgeon commented on #142
I did it :D

[2020-02-28 13:12] #142 closed

[2020-02-28 13:13] philsturgeon opened #150 "Category: Charities"
A list of places y'all can donate all over the world. Many of the places we link to already have donate options but lets make a specific category for this.

## New Links

- [MyCliamte Offset Projects](https://co2.myclimate.org/en/my_project_calculators/new)

[2020-03-10 10:06] sbutler-gh opened #151 "Can we present/display these projects in a more intuitive way?"
Over the years, I've been collecting similar resources  -- but after getting frustrated with how difficult it is to intuitively search projects in a document, I migrated them to a map:

https://miro.com/welcomeonboard/PgGvqc9QgNnvxJPdM5wdwGyp6x8N690D2JDVr91KzyMDSZwluMEwxFz04W5dZzGK

Any interest in creating a similar interface with the Awesome Earth repository?

Best case, it could be an automated

[2020-03-10 11:08] philsturgeon commented on #151
I think it depends very much on the intent of the project. We link to various maps, which help you find reforestation efforts near you, where coal plants are to protest, where people are considering expanding airports, etc. I don't know what use case a map of everything would aim to serve.

We are trying to help folks around the world by limiting results to a specific country, but we have some twe

[2020-03-10 11:23] sbutler-gh commented on #151
@philsturgeon This isn't a geographical map, it's a map of projects across different categories:

https://miro.com/welcomeonboard/PgGvqc9QgNnvxJPdM5wdwGyp6x8N690D2JDVr91KzyMDSZwluMEwxFz04W5dZzGK

^ Not to say that is the best answer, but I feel it's a step in the right direction on creating more intuitive interfaces to search/browse through these types of repositories, as opposed to scrolling thro

[2020-03-10 23:04] #118 closed

[2020-03-10 23:12] philsturgeon commented on #107
We should talk about bouycotting and switching away from the worst offenders (Chase specifically) https://www.ran.org/bankingonclimatechange2019/

Switching your bank accounts away from these folks is a small win, and big win if you switch to an bank which focuses on ethical environmental investments.

[2020-03-11 00:08] philsturgeon commented on #147
Hey @michaelsbach! This is done in a fairly conventional way for a Gatsby site, but its alien if you're new to it. I was recently in your shoes :)

In `gatsby-node.js` we create the links property https://github.com/philsturgeon/awesome-earth/blob/37df27ecfafd8af54fe54c3707a4856b6cc88696/gatsby-node.js#L102

This links property is then accessible in the RecentLinks component. Not global, just pass

[2020-03-11 00:09] philsturgeon commented on #109
I'll write an article and we can mention it, but I have changed my mind on the necessity of this as a feature.

[2020-03-11 00:09] #109 closed

[2020-03-11 00:14] philsturgeon commented on #151
I can't see that link, it's protected. We've got an issue for adding search (#18) so let's chat about that over there, and we can figure out some more ideas in the slack chat we started. :)

[2020-03-11 00:14] #151 closed

[2020-03-13 08:44] philsturgeon commented on #147
It's basically this https://www.gatsbyjs.org/tutorial/part-seven/

If you have any questions feel free to start off a PR and see how far you can get, I'll be more than happy to help you out with contributions even if we gotta do some learning on the way!

[2020-03-13 08:44] #147 closed

[2020-03-13 09:20] philsturgeon commented on #97
@rapzo hey there, do you think we could take another swing at this?

[2020-03-13 10:09] rapzo commented on #97
Oh! Sorry mate. For real.
I'll open a new PR before the end of the day!
Sorry for sleeping again on this.

On Fri, Mar 13, 2020, 9:20 AM Phil Sturgeon <notifications@github.com>
wrote:

[2020-03-13 11:11] philsturgeon commented on #97
I appreciate it, and really no need to apologize. :D

[2020-03-13 16:05] rapzo commented on #97
Question: could links.yaml be split into a collection?
https://www.netlifycms.org/docs/collection-types/#folder-collections
I think it would be easier to treat case by case, instead of having a
massive file that gets changed in every change under netlify-cms

On Fri, 13 Mar 2020 at 11:11, Phil Sturgeon <notifications@github.com>
wrote:

--
Rui Pedro Lima

[2020-03-13 18:22] philsturgeon commented on #97
This looks amazing, is it new? Are you able to do that?

On Fri, Mar 13, 2020 at 16:05, Rui Lima <notifications@github.com> wrote:

[2020-03-13 18:30] rapzo commented on #97
I think so. Still fighting with what gets uploaded and what gets
transformed after using the cms.
I reckon those links are also parsed for README purposes so, it might
stretch a bit longer, but i'm about trying to do something with it.
I managed to test the whole cms thingy and there were some errors: tags are
mandatory and not all of'em have it.
Once i get a working peace i'll get back here. But,

[2020-03-13 19:46] philsturgeon commented on #97
You can ignore the README I need to split these two projects anyway. Ideally protect earth would serve an API and the awesome-earth repo would be a read of that.

On Fri, Mar 13, 2020 at 18:30, Rui Lima <notifications@github.com> wrote:

[2020-03-16 09:06] philsturgeon commented on #107
Renewable energy companies by stock exchange https://en.wikipedia.org/wiki/List_of_renewable_energy_companies_by_stock_exchange

[2020-03-16 09:25] philsturgeon commented on #130
Impossible Burger is available in the United States, Hong Kong, Macau, and Singapore - https://impossiblefoods.com/

[2020-03-16 09:26] philsturgeon commented on #130
French food chain https://comerso.fr/ and https://wearephenix.com/

[2020-03-16 16:24] philsturgeon commented on #107
PensionBee sustainable pensions (UK) https://www.altfi.com/article/6304_pensionbee-teams-up-with-legal-general-on-fossil-fuel-free-pension-fund

[2020-03-16 17:56] philsturgeon commented on #107
Angel investing https://angel.co/clean-energy

[2020-03-17 08:32] kitmacleod commented on #18
Hi, I saw your tweet (impressed by awesome-earth). I am not an expert dev (like your PHP and API expertise). I have been looking at Gatsby as a SSG for a range of resources and also need a search feature. I had been impressed by https://www.gatsbytutorials.com/, who seem to take inspiration from https://www.gatsbyjs.org/showcase/. You have looked at the Gatsby guide and I was planning to explore h

[2020-03-17 15:29] philsturgeon opened #155 "Migrate links.yaml to Netlify CMS Collections"
Split links.yaml into a [NetlifyCMS collection](https://www.netlifycms.org/docs/collection-types/#folder-collections)

It would be easier to treat case by case, instead of having a
massive file that gets changed in every change under netlify-cms.

For instructions on setting this up in Gatsby, they've got a tutorial: https://www.gatsbyjs.org/docs/sourcing-from-netlify-cms/#setup

[2020-03-17 15:30] philsturgeon commented on #97
@rapzo I will hopefully migrate to collections today (#155)

[2020-03-17 16:17] philsturgeon commented on #18
@kitmacleod hey, thanks for this! Yeah algolia seems like the way to go, that's come up a few times. It would be pretty fantastic to avoid that dependency if possible, but as a simple netlify static Gatsby site we might not have much choice.

[2020-03-17 18:02] rapzo commented on #97
Are you working on it?
I have it already. Can i open a PR for that?

On Tue, 17 Mar 2020 at 15:31, Phil Sturgeon <notifications@github.com>
wrote:

--
Rui Pedro Lima

[2020-03-17 18:16] philsturgeon commented on #97
@rapzo I was just about to start, thank you!! Yeah fire that PR over and we can merge so we can both work on top of it.

[2020-03-17 21:41] rapzo commented on #155
The slug configuration might be useful as well, specially if a timestamp is, somewhat, useful for sorting
https://www.netlifycms.org/docs/configuration-options/#slug

[2020-03-19 13:37] philsturgeon commented on #155
Looks like we're still using links.yaml in netlify-cms too, #156 just part of it? What do we do next?
<img width="579" alt="image" src="https://user-images.githubusercontent.com/67381/77073219-d67afb80-69e6-11ea-95bb-0c9214f8812a.png">

[2020-03-19 14:35] rapzo commented on #155
This PR should fix all broken thingies. Sorry about that. I might have been using a cached version and was focused on having the admin working.

[2020-03-20 14:37] #155 closed

[2020-03-23 12:28] HeidiHansen commented on #130
Green rooftop company https://www.topgroen.nl/

[2020-03-23 15:03] philsturgeon opened #159 "Country Specific URLs"
Some sites have different websites for different countries.

<img width="1213" alt="image" src="https://user-images.githubusercontent.com/67381/77330222-eeb88680-6d16-11ea-8459-f9293e0dd518.png">

Maybe some YAML like this:

[code]

Making a little helper to grab the data, so its the default URL unless you've selected a country, then it'll try to use that if it exists.

[2020-03-23 15:05] philsturgeon commented on #130
Few more on https://www.vogue.co.uk/gallery/best-food-waste-apps

[2020-03-23 16:01] rapzo commented on #97
Does this look good to you?
![Screenshot 2020-03-23 at 16 00 06](https://user-images.githubusercontent.com/147788/77336461-73a79e00-6d1f-11ea-91d2-d45ac1f8552d.png)

The picture was uploaded via netlify-cms and, after a while (a build), popped up there.
Everything should be automated via the cms now.

Just let me know how if the styles need work.

[2020-03-23 16:07] HeidiHansen commented on #130
https://grocy.info/
https://gikibadges.com/
https://karma.life/
https://www.farmdrop.com/
https://www.nowasteapp.com/
https://www.mcsuk.org/
https://food.cloud/
http://www.nofoodwasted.com/
https://comerso.fr/en/homepage/
http://www.greenease.co/

[2020-03-23 16:17] philsturgeon commented on #97
This is great! I am visually useless, so I am unsure how to handle having an uneven number or having some with images and some without. I suppose we can make it a requirement of being featured, if its not got an image some explosion happens somewhere on build?

Another approach would be rolling in #129 so that the first 3 featured links WITH images for (this country or global).

[2020-03-23 16:37] rapzo commented on #97
Conditionals might be achievable with custom widgets. Don't know, have to play a bit more with it.
I'm reworking the queries in order to get an optimised version of the uploaded picture instead of the original.
Should have it done later today.

[2020-03-23 16:47] philsturgeon commented on #97
Thank you!

[2020-03-23 17:01] philsturgeon opened #161 "Category: Logistics"
"Transportation" category is about getting people and stuff around in general, and travel is more about vacations and alternatives to flying, which does ofc have a little overlap. In all this there is another category starting to emerge: "Logistics".

Maybe we could create a logistics section, rename Transportation as "Commuting" or "Personal Mobility", then get some of the more fleet/shipping thi

[2020-03-24 19:22] #139 closed

[2020-03-24 20:01] philsturgeon opened #162 "Public API"
I want to split the awesome-earth and "protect earth" out into their own repos, with awesome-earth being this awesome list and protect earth just being all the logic for the Yellow Pages of Climate Action.

Awesome Earth can just pull from the API, but this isn't the only API client!

[ClimateChoice.co](https://climatechoice.co) will be another. They have a bunch of guides, and at the bottom we'll

[2020-03-24 20:12] philsturgeon commented on #162
That said, looks like the use case of country _and_ category is not possible. Back to the drawing board.

<img width="811" alt="image" src="https://user-images.githubusercontent.com/67381/77472433-d0808280-6e0b-11ea-8e15-1395a0f0a154.png">

[2020-03-24 21:52] ijpatricio commented on #162
🔥frontend on the make
![image](https://user-images.githubusercontent.com/26031459/77480462-a766ee80-6e19-11ea-9252-3432f132a817.png)

[2020-03-24 22:35] rapzo commented on #162
I'm cool with whichever tool used, actually!
Netlify CMS is a bit clunky, yeah. But, as something kinda stateless, it kind of stands firm on its legs 😆

[2020-03-24 22:38] rapzo commented on #162
Ah! And about the split and sorting, we can always divide and conquer: categories as what now is `Links` on the menu. The slug with the date sorts it out in the FS but in the UI it can be a bit painful.
I can try to rearrange it to, at least, make a strong case in favour of gatsby & netlify-cms?

[2020-03-24 23:45] #97 closed

[2020-03-25 15:49] Squallac commented on #146
I agree with the flags concerns, I wouldn't like the content to be tied with the country when selecting a language. Probably in the future would be cool to have a country filter, to be able to see only the filters in your country.
But for translation purposes, I'd rather have only the options in text without a flag.

English / Spanish / French / Korean

BTW I'm a native spanish speaker person, I c

[2020-04-13 14:11] philsturgeon opened #164 "Should we use semantic release to update watchers?"
When we get a bunch of new links either via a PR or via the import script we could release them to let folks know there is new content.

Please vote:

- 👍 Useful
- 👎 Annoying

[2020-06-24 16:50] #164 closed

[2020-06-25 15:10] FloEdelmann opened #166 "Where does banking fit in?"
Should *finance* be a separate category? There are some sustainable banks (at least in Germany) that don't invest in the coal industry and other bad actors:

* [Tomorrow](https://www.tomorrow.one/en-de/) (Germany, English site+app available)
* [Triodos Bank](https://www.triodos.co.uk/) (UK, Netherlands, Belgium, Germany, Spain, France)
* [GLS Bank](https://www.gls.de/privatkunden/) (Germany)
* [Et

[2020-06-25 22:37] philsturgeon commented on #166
Yeah we got a whole category for that! We keep track of everything on this new site: https://github.com/protect-earth/protect.earth

Then now and then I run a script which scrapes the api and brings them over here. :)

[2020-07-06 17:23] #166 closed

[2020-10-11 11:24] Ly0n opened #181 "Where does open source contribution fit in?"
Hey Awesome Earth team,

we realised that nobody has made a list of all the sustainable open source technology that is out there. That's why we have been creating this list over the last few months and have now published it:
https://github.com/protontypes/awesome-sustainable-technology

Now I would like to call for the further development of projects in this list and to use it to speed up and dist

[2021-03-05 21:40] TheTechRobo opened #196 "Sharkwater?"
Sharkwater is a good film about shark finning, would it coumt omn this list?

[2021-12-26 07:53] Adecoder07 opened #205 "Earth science"

[2021-12-28 14:56] #205 closed

[2022-11-28 22:50] darkdragon-001 opened #214 "Import script removed previously accepted and merge MR"
My MR philsturgeon/awesome-earth#165 was reverted by "reverted import script" commit e4353f080861f85c45ba6160844da9271a4f679c which is unintended I think. Can you please add it again?